<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :cgpa %>
    <%= f.text_field :cgpa %>
  </div>

  <div class="field">
    <%= f.label :branch %>
    <%= f.text_field :branch %>
  </div>

  <div class="field">
    <%= f.label :roll_number %>
    <%= f.text_field :roll_number %>
  </div>

  <div class="field">
    <%= f.label :mobile_number %>
    <%= f.text_field :mobile_number %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
