<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Cgpa:</strong>
  <%= @student.cgpa %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @student.branch %>
</p>

<p>
  <strong>Roll number:</strong>
  <%= @student.roll_number %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @student.mobile_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
