<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @application.student %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @application.schedule %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @application.accepted %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
